<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wise.board.mapper.BoardMapper">
	
<sql id = "boardColumns">
	  idx
	, title
	, content
	, writer
	, view_cnt
	, notice_yn
	, secret_yn
	, delete_yn
	, insert_time
	, update_time
	, delete_time
</sql>

<insert id="insertBoard" parameterType="BoardDTO">
	insert into TB_BOARD (
		<include refid = "boardColumns" />
	) values (
		  TB_BAORD_SEQ.NEXTVAL
		, #{title}
		, #{content}
		, #{writer}
		, 0
		, NVL(#{noticeYn, jdbcType=VARCHAR}, 'N')
		, NVL(#{secretYn, jdbcType=VARCHAR}, 'N')
		, 'N'
		, SYSDATE
		, NULL
		, NULL
	)
</insert>
<!-- 2.게시글 목록 -->
<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO">
	SELECT
		<include refid = "boardColumns" />
	  FROM
	  	TB_BOARD
	 WHERE 1=1
	   AND DELETE_YN = 'N'
	 ORDER BY
		  NOTICE_YN ASC
		, IDX DESC
		, INSERT_TIME DESC
</select>

<!-- 3.게시글 개수 -->
<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
	SELECT
		COUNT(*)
	  FROM
	  	TB_BOARD
	 WHERE
	 	DELETE_YN = 'N'
</select>

<!-- 4.게시글 조회 -->
<select id="selectBoardDetail" parameterType="Long" resultType="BoardDTO">
	SELECT
		<include refid="boardColumns" />
	  FROM TB_BOARD
	 WHERE 1=1
	   AND DELETE_YN = 'N'
	   AND IDX = #{idx}
</select>

<update id="updateBoard" parameterType="BoardDTO">
	UPDATE
		TB_BOARD
	SET
		  UPDATE_TIME = SYSDATE
		, TITLE = #{title}
		, WRITER = #{writer}
		, CONTENT = #{content}
		, NOTICE_YN = NVL(#{notice_yn, jdbcType=VARCHAR}, 'N')
		, SECRET_YN = NVL(#{secret_yn, jdbcType=VARCHAR}, 'N')
	WEHRE
		IDX = #{idx}
</update>
</mapper>